@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>developer (C#,python,java e C++) @ViewData["developer"]</p>
 
<address>
    <strong>More information: </strong> <a href="https://github.com/LeandroLara89">Github.com</a>
</address>